# generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# thumbnails
._*

# files that might appear on external disk 
.Spotlight-V100
.Trashes

# experimental stuff
/CylindricalAdaptive/
/AlbersConic2LambertAzimuthal/
/LambertTransformationTransverse/